@model ArafaEmploymentApp.Models.Background

@{
    ViewData["Title"] = "Background";
}
    <main class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Background">
                    </br><button type="button" id="sidebarCollapse" class="btn btn-secondary" onclick="toggleSidebar()">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>

                    <section class="header"><h3>Background</h3></section><hr />
                    <b>**Fields in Bold are Required**</b></br>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MilitaryService" /> @Html.DisplayNameFor(model => model.MilitaryService)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MilitaryDischarge" /> @Html.DisplayNameFor(model => model.MilitaryDischarge)
                        </label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="MilitaryBranch" class="control-label"></label>
                            <input asp-for="MilitaryBranch" class="form-control" />
                            <span asp-validation-for="MilitaryBranch" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                           <b> <label asp-for="YearServed" class="control-label"></label></b>
                            <input asp-for="YearServed" class="form-control" />
                            <span asp-validation-for="YearServed" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                           <b> <label asp-for="TrafficAccident" class="control-label"></label></b>
                            <input asp-for="TrafficAccident" class="form-control" />
                            <span asp-validation-for="TrafficAccident" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <b><label asp-for="TrafficViolation" class="control-label"></label></b>
                            <input asp-for="TrafficViolation" class="form-control" />
                            <span asp-validation-for="TrafficViolation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DrinkAndDrive" /> @Html.DisplayNameFor(model => model.DrinkAndDrive)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DistractedDrive" /> @Html.DisplayNameFor(model => model.DistractedDrive)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CrimeBefore" /> @Html.DisplayNameFor(model => model.CrimeBefore)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="CrimeType" class="control-label"></label>
                        <input asp-for="CrimeType" class="form-control" />
                        <span asp-validation-for="CrimeType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <center>
                            <input type="submit" value="Save and Continue" class="btn btn-secondary" /></br>
                        </center>
                    </div>
                </form>
            </div>
        </div>
        </main>
